*{
    padding: 0;
    border: 0;
    margin: 0;
}
*,*:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    font-family: PTSans;
    font-weight: 400;
    font-size: 100%;/* що залишити  */
    line-height: 1;
    font-size: 14px; /* що залишити  */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:  inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
a:active, a:hover,  a {
  text-decoration: none;
  color: inherit;
}
a:hover {font-weight: 700;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}

@font-face {
	font-family: 'PostNoBillsJaffna';
	src: url('../fonts/PostNoBillsJaffna-Bold.eot');
	src: local('☺'), url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff'), url('../fonts/PostNoBillsJaffna-Bold.ttf') format('truetype'), url('../fonts/PostNoBillsJaffna-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PTSans-Regular.eot');
	src: local('☺'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PTSans-Bold.eot');
	src: local('☺'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype'), url('../fonts/PTSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Bold.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.wrapper {
    max-width: 1920px;
    min-height: 100%;
    overflow: hidden;
}
._conteiner {
   max-width: 1110px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}
._header {
   font-family: Playfair Display;
   font-size: 36px;
   font-weight: 700;
   line-height: calc(48/36*100%);
   text-align: center;
   color: #FFFFFF; 
   text-transform: uppercase;
}

/* ----------------header------------------- */
.header {
   position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    color: #969696;

}
/* -------------------top_line---------------------------- */
.top_line {
   background-color: #000000;
   /*z-index: 2;*/
}
.top_line__conteiner {
    min-height: 44px;
    font-size: 12px;
    line-height: 133.333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.phone {
    display: flex;
    text-align: justify;
}
.icon-Phone {
    margin-right: 16.31px;
    width: 15.33px;
}
.phone-content {
    max-width: 355px;
    text-align: justify-all;
    display: flex;
    flex-wrap: wrap;
}
.log-in {
    width: 133px;
    text-align: right;
    display: flex;
}
.icon-log-in {
    width: 14px;
}
.log-in-content {
   margin: 0 0 0 10px;
   width: 109px;
}
/* --------------second_line---------------------------------- */
.second_line {
   min-height: 80px;
   background-color: #0F0F0F;
}
.second_line__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second_line__logo {
   width: 104px;
   height: 49px;
   font-family: PostNoBillsJaffna;
   font-size: 36px;
   line-height: 54px;
   color: #FFFFFF;
}
.nav {
   max-width: 537px;
   margin: 0 0 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.second_line__burger {
   display: none;
}
@media (max-width:767px) {
   .second_line__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
   }
   .second_line span{
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      left: 0; 
      top: 9px;
   }
   .second_line__burger:before,
   .second_line__burger:after{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0; 
   }
   .second_line__burger:before{
      top: 0;
   }
   .second_line__burger:after{
      bottom: 0;
   }
   /*.second_line__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1F1F1F;
   }*/
}
.second_line__menu {
   max-width: 537px;
   /*margin: 0 0 0 15px;*/
   /*width: 413px;
   height: 100%;*/
   display: flex;
   justify-content: space-between;
   align-items: center;
   line-height: 18px;
   text-transform: uppercase;
}
.menu__list {
   display: flex;
   align-items: center;
}
.menu__item {
   height: 80px;
   padding: 31px 20px;
}
.like {
   height: 80px;
   background-color: #1F1F1F;
   color: #FFFFFF;
}
.nav a:hover {
   font-weight: bold;
}
.icon_nav {
   margin: 0 0 0 40px;
   width: 84px;  
   display: flex;
   justify-content: space-between;
}
.icon_nav img {
   width: 22px;
   height: 22px;
}
/* ---------------------first-screen------------------------- */
.first-screen {
    width: 100%;
    height: 810px;
    margin: 122px 0 0;
    background: url(../img/Rectangle\ 3.png) center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first-screen-content {
    margin: 6px;
    max-width: 800px;
    height: 496px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.square {
    width: 320px;
    height: 320px;
    border: 4px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading {
    margin: 1px;
    width: 185px;
    height: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.porten {
    width: 185px;
    height: 65px;
    font-family: PostNoBillsJaffna;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    /* text-decoration: underline; */
}
.line1 {
    margin: 13px 0 10px;
    height: 0px;
    width: 179px;
    border: solid #ffffff;
    border-width: 2px 0 0 0;
}
.city {

    font-family: PTSans;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

}
.content {
    max-width: 730px;
    height: 96px;
    margin: 0 10px;
    font-size: 16px;
    line-height: calc(24/16*100%);
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

@media (max-width: 340px) {
   .square {
      width: 220px;
      height: 220px;
   }
   .first-screen {
      height: 660px;
      /*margin: 122px 0 0;
      background: url(../img/Rectangle\ 3.png) center;
      display: flex;
      align-items: center;
      justify-content: space-around;*/
  }
  .content {
   min-height: 260px;
   /*font-size: 16px;   */
  }
  .first-screen-content { 
   height: 570px;
}
}

/* --------------------second-section------------------------- */
.second-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.new-season {
   width: 54.2%;
   height: 730px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.new_season_header{
   width: 376px;
   height: 39px;   
}
.new_season_line_2 {
   margin: 50px 0;
}
.watch_conteiner {
   width: 880px;
   height: 405px;
   display: flex;
   justify-content: space-between;
}
.watch-content {
   width: 260px;
   height: 405px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
}
.watch {
   width: 260px;
   height: 325px;
   background-color: #191B1C;
   padding: 0 0 1px 1px;
}
 .watch-name {
   /*width: 140px;*/
   height: 24px;
   margin: 25px 0 10px 0;
   font-family: Playfair Display;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   color: #FFFFFF;
}
 .watch-price {
   height: 21px;
   /*width: 92px;*/
   font-family: Playfair Display;
   font-size: 16px;
   font-weight: 700;
   line-height: 21px;
   color: #D0D0D0;
}
.watch-content a:hover {
   font-size: 17px;
}
/* ---------------------new_collection------------------------ */
.new_collection {
   width: 45.8%;
   height: 730px;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   background-image: url(../img/Rectangle\ 8.png);
   background-size: cover;
}
.new_collection_box {
   max-width: 406px;
   min-height: 146px;
   margin: 0 auto 100px;
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   /*color: #FFFFFF;*/
}
.new_collection_header {
   width: 100%; 
   min-height: 39px;  
}
.new_season_line_2 {
   margin: 30px 0;
}
.new_collection_catalog {
   width: 144px;
   height: 46px;
   border: 1px solid #FFFFFF ;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'PTSans';
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
}
.new_collection_catalog:hover {
   box-shadow:0 0 5px #FFFFFF;
}
.new_collection_catalog_content {
   width: 82px;
   height: 23px;
}
@media (max-width: 992px) {
   .second-section {
      height: 1460px;
      display: flex;
      flex-direction: column;
      align-items: center;      
   }
   .new_collection {
      width: 100%;
      height: 730px;
   }
}
@media (max-width: 340px) {
   .new_season_header{
      font-size: 30px;
      
   }
}
@media (max-width: 340px) {
   .new_collection {
      width: 100%;
      height: 730px;
   }
}
/* -------------------third-section----------------------------- */
.third-section {
   width: 100%;
   height: 600px;
   display: flex;
}
.suit {
   width: 45.84%;
   height: 100%;
   background: 
   url(../img/Rectangle\ 9.png)center;
}
.collection_2018 {
   width: 54.16%;
   height: 100%;
   background-color: #000000;
   display: flex;
   justify-content: center;
   align-items: center;
}
.collection_2018_box {
   margin: 0 0 0 1px;
   max-width: 471px;
   min-height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   color: white;
}
.collection_2018_box_header {
   width: 376px;
   height: 39px;
   font-weight: 400;
   }
/*.collection_2018_box_line_2 {
}*/
.collection_2018_box_content {
   max-width: 471px;
   min-height: 173px;
   padding: 0 15px;
   line-height: calc(21/14*100%);
   text-align: center;
}
.collection_2018_box_catalog {
   width: 311px;
   height: 47px;
   border: 1px solid #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}
.collection_2018_box_catalog:hover {
   box-shadow: 0 0 5px #FFFFFF;
}
.collection_2018_box_catalog_content {
   width: 257px;/*Чому не влізло в 255?*/
   height: 23px;
   font-family: 'PTSans';
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}
.collection_2018_box a {
   color: inherit;
}
/* --------------------------------new_arrivals ----------------- */
.new_arrivals {
   width: 100%;
   height: 1289px;
   background: #000000;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 1px 0 0;
}
.new_arrivals_header {
   width: 440px;
   height: 48px;
   }
.new_arrivals_line_2 {
   margin: 40px 0 81px;
}
.new_arrivals_watch_box {
   width: 1110px;
   height: 850px;   
   display: grid;
   grid-template: repeat(2, 1fr)/repeat(4, 1fr);
   grid-column-gap: 23px;
   grid-row-gap: 40px;
}
/* -----------------------our_brands-------------------- */
.our_brands {
   width: 100%;
   height: 362px;
   padding: 40px 0 60px;
   background: #0F0F0F;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.our_brands_header {
   width: 289px;
   height: 48px;
   }
.our_brands_box {
   width: 1110px;
   height: 94px;
   display: flex;
   justify-content: space-between;
}
.last_section {
   width: 100%;
   height: 400px;
   padding: 0 0 21px;
   background: url(../img/Rectangle\ 15.png);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}
.last_section_content {
   width: 1110px;
   height: 219px;
   display: flex;
   justify-content: space-between;

}
.about_store {
   width: 350px;
   height: 219px;

}
.last_section_headers {
   width: 151px;
   height: 32px;
   margin: 0 0 40px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   text-transform: uppercase;
}
.about_store_content {
   width: 350px;
   height: 147px;
   line-height: 21px;
}
.categories {
   width: 348px;
   height: 219px;
}

.categories_first_line {
   height: 41px;
   margin: 40px 0 20px;
   display: flex;
}
.categories_box { 
   padding: 10px 20px;
   margin: 0 20px 0 0;
   background: #0F0F0F;
}
.categories_box:hover {
   box-shadow: 0 0 5px #ffffff75;
}
.categories_box div {
   line-height: 21px;
   color: #D0D0D0;
}

.categories_second_line {
   grid-template: 41px;
   display: flex;
}

.newsletter {
   width: 350px;
   height: 193px;
}

.newsletter_content {
   height: 42px;
   margin: 0 0 37px;
   line-height: 21px;
}
.newsletter_form input {
   width: 206px;
   height: 42px;
   padding: 0  0 0 16px;
   background: rgba(255, 255, 255, 0.4);
}
::-webkit-input-placeholder { 
   color:    #FFFFFF66;
}
:-moz-placeholder { 
   color:    #FFFFFF66;
}
::-moz-placeholder { 
   color:    #FFFFFF66;
}
:-ms-input-placeholder {
   color:    #FFFFFF66;
}
.newsletter_form button {
   width: 140px;
   height: 41px;
   background: #0F0F0F;
   color: #ffffff;
}
.newsletter_form button:hover {
   background: #0f0f0f8e;
   /*box-shadow: 0 0 5 rgb(255, 255, 255);*/
}
footer {
   width: 100%;
   height: 50px;
   color: #D0D0D0;
   font-size: 12px;
   line-height: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.box1 {
   width: 155px;
   height: 16px;
}
.box2 {width: 145px;
   height: 16px;
   font-weight: 700;
   text-align: right;
   text-decoration-line: underline;
}
.box2:hover {
   text-decoration-line: none;

}
